@import '../../../../styles.scss';

.terminal-wrapper {
    min-height: 100%;
    height: inherit;
    background-color: $blue-catacean-darker;
}


.terminal-header {
    text-shadow: 1px 1px 2px $green-light;
    background-color: $color-silver;
    color: $color-black;
    font-family: cascadia;
    font-weight: bold;
    & > i {
        font-weight: bold;
    }
}

.terminal {
    color: $orange-light;
    min-height: 100%;
    font-family: terminus;
    font-size: 1rem;
}

.terminal-bottom {
    position: absolute;
    bottom: 0;
}

.shell-user {
    color: $green-light;
}

.shell-regular {
    color: $color-silver;
}

.shell-warning {
    color: $orange-light;
}

.shell-error {
    color: $color-red;
}

.terminal-input {
    background-color: transparent;
    width: 100%;
    color: $orange-light;
    border: none;
    &:focus {
        outline: none;
    }
}

.terminal-output {
    max-height: 12em;
    overflow-y: auto;
}

