// persian palete
$red-dark: #9e1b1b;
$orange-light: #e5a339;
$orange-dark: #ba711f;
$green-light: #71a559;
$green-dark: #1c5125;

// variations
$red-darker: #8A0707;
$red-darkest: #640000;
$red-darker-transparent: #8A0707ee;
$red-darkest-transparent: #640000ee;

// custom palete
$blue-persian: #132ac1;
$blue-catacean: #001440;

$blue-catacean-transparent: #001440ee;
$black-transparent: #000000ee;