/* You can add global styles to this file, and also import other style files */
@import './colors.scss';
@import './styles.dynamic.scss';

// fonts
@font-face {
    font-family: candara;
    src: url(/fonts/Candara.ttf);
}

// defaults
body {
    font-family: candara;
}

// classes

// flex
.flx {
    display: flex;
}

.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.content-center {justify-content: center; }

.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx-y-center {
    display: flex;
    align-items: center;
}

// utils
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-c {
    text-align: center;
}

/* .neumorphic {
    box-shadow: inset 5px 5px 10px #401919,
    inset -5px -5px 10px #782e2e
*/