/* You can add global styles to this file, and also import other style files */
@import './base-styles/colors.scss';
@import './base-styles/styles.dynamic.scss';
@import './base-styles/fonts.scss';


// DEFAULTS
body {
    font-family: candara;
    height: 100%;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    transition: .5s;
}

// CLASSES

// buttons


.app-btn-green {
    border: 2px solid $green-light;
    color: $green-light;
    &:hover {
        background-color: $green-light;
        color: $red-dark;
    }
}

.app-btn-orange {
    border: 2px solid $orange-light;
    color: $orange-light;
    &:hover {
        background-color: $orange-light;
        color: $red-dark;
    }
}

.app-btn-red {
    border: 2px solid $red-dark;
    color: $red-dark;
    &:hover {
        background-color: $red-dark;
        color: $orange-light;
    }
}

// flex
.flx {
    display: flex;
}

.space-around { justify-content: space-around; }
.space-between { justify-content: space-between; }
.content-center {justify-content: center; }

.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }

.flx-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx-y-center {
    display: flex;
    align-items: center;
}

.flx-ec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flx-xe {
    display: flex;
    justify-content: flex-end;
}

// utils
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-c {
    text-align: center;
}

.text-b {
    font-weight: bold;
}

/* .neumorphic {
    box-shadow: inset 5px 5px 10px #401919,
    inset -5px -5px 10px #782e2e
*/