@import '../../../../styles.scss';

.app-button {
    outline: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    transition: .5s;
}

.app-button-green {
    border: 2px solid $green-light;
    color: $green-light;
    &:hover {
        background-color: $green-light;
        color: $red-dark;
    }
}

.app-button-orange {
    border: 2px solid $orange-light;
    color: $orange-light;
    &:hover {
        background-color: $orange-light;
        color: $red-dark;
    }
}

.app-button-red {
    border: 2px solid $red-dark;
    color: $red-dark;
    &:hover {
        background-color: $red-dark;
        color: $orange-light;
    }
}