<div class="w3-row">
    <div class="w3-quarter panel panel-left">
        <h3 class="mt-3 mx-auto header w-80-pc text-c">
           Controls
        </h3>
        <div class="panel-table-options mx-auto w-80-pc">
            <button (click)="loadCocktails()" class="app-btn-green w-100-pc">Cocktails Table</button>
            <button (click)="loadIngredients()" class="app-btn-green w-100-pc">Ingredients Table</button>
        </div>
    </div>
    <div class="w3-threequarter panel panel-right flx content-center">
        <div>
            <h1 class="header flx space-between">
                <div>Table:&nbsp;</div>
                <div>{{ currentTable }}</div>
            </h1>
            <ng-container [ngSwitch]="currentTableType">
                
                <ng-container *ngSwitchCase="tableType.None">
                    <ng-container *ngTemplateOutlet="blank"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="tableType.Cocktail">
                    <ng-container *ngTemplateOutlet="cocktailTable"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="tableType.Ingredient">
                    <ng-container *ngTemplateOutlet="ingredientTable"></ng-container>
                </ng-container>

            </ng-container>
        </div>
    </div>
</div>

<ng-template #blank></ng-template>

<ng-template #cocktailTable>
    <cocktail-table></cocktail-table>
</ng-template>
<ng-template #ingredientTable>
    <ingredient-table></ingredient-table>
</ng-template>