@import '../../../../styles.scss';

.panel {
    min-height: 100vh;
}

.panel-left {
    background-color: $orange-dark;
    & > .header {
        background-color: $red-dark;
        font-weight: bold;
    }
}

.panel-right {
    background-color: $green-dark;
    & > .header {
        border: 2px solid $red-dark;
        font-weight: bold;
    }
}

.panel-table-options {
    background-color: $red-dark;
}