<div class="admin-overview max-h-100-vh">
    <!-- <div class="panel-left w3-quarter">
        <h4>Something</h4>
    </div> -->
    <div class="panel-right">
        <div class="h-40-pc">
            <h4 class="w3-center">Admin Panel</h4>
            
            <div class="w3-row">
                <div class="w3-half">
                    <h5>Application Stats</h5>
                </div>
                <div class="w3-half"></div>
            </div>
        
        </div>
        
        <div class="terminal-container">
            <terminal></terminal>
        </div>
    </div>
</div>
