<div class="admin-overview max-h-100-vh">
    <!-- <div class="panel-left w3-quarter">
        <h4>Something</h4>
    </div> -->
    <div class="panel-right">
        <div class="">
            <h4 class="noselect w3-center">Admin Panel</h4>
            <hr>
            <div *ngIf="!!appConfigs" class="noselect w3-row">
                <div class="w3-half">
                    <h5 class="w3-center">Application Configuration</h5>
                    <div class="info-row-left w3-center w3-row">
                        <div class="w3-twothird">Request processing interval: </div>
                        <div class="w3-third">{{ appConfigs.processingInterval }}</div>
                    </div>
                </div>
                <div class="w3-half">
                    <h5 class="w3-center">Syslog Errors</h5>
                    <div *ngFor="let filename of appConfigs.syslogFiles" class="info-row-right w3-center w3-row">
                        <div class="w3-third">
                            <button (click)="openLogFile(filename)" class="admin-btn">View File</button>
                        </div>
                        <div class="w3-twothird">
                            {{ filename | logfileName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="h-40-pc terminal-container">
            <terminal></terminal>
        </div>
    </div>
</div>

<app-dialog #logDialog>
    <div dialogContent class="log-dialog">
        <h4 class="d-head w3-center">Log File Content</h4>
        <div class="d-body w3-center p-2">
            {{ logFile }}
        </div>
        <div class="d-foot flx-ec p-1">
            <button (click)="logDialog.close()">Ok</button>
        </div> 
    </div>
</app-dialog>