@import '../../../styles.scss';

.admin-overview {
    background-color: $blue-catacean;
    color: $color-white;
    min-height: 100vh;
    max-height: 100vh;

    overflow-y: auto;
}

.panel-left {
    background-color: $blue-catacean-darker;
    color: $color-white;
    height: 100vh !important;
}

.panel-right {
    color: $color-white;
    height: 100vh !important;
    position: relative;
}

.terminal-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.info-row-left {
    background: linear-gradient(to right, $black-transparent, transparent);
}

.info-row-right {
    background: linear-gradient(to left, $black-transparent, transparent);
}